<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View Recipes</title>
<style>
.username.ng-valid {
	background-color: lightgreen;
}

.username.ng-dirty.ng-invalid-required {
	background-color: red;
}

.username.ng-dirty.ng-invalid-min {
	background-color: yellow;
}

.email.ng-valid {
	background-color: lightgreen;
}

.email.ng-dirty.ng-invalid-required {
	background-color: red;
}
</style>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">	
		<div class="generic-container"
		ng-app="myApp"
		ng-controller="EditRecipeController as ctrl">
		<div class="panel panel-default">
			<div class="panel-heading"> 
				<span class="lead">Edit a Recipe</span> 
			</div>
				<div class="formcontainer">
					<form ng-submit="ctrl.submit()" name="editRecipeForm"
						class="form-horizontal">
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Recipe to Edit</label>
							<div class="col-md-7">
								<ul>
									<li ng-repeat="recipe in recipes"><label>{{recipe.name}}
									<input type="radio" ng-model="$parent.name" name="name" value="{{recipe.name}}" required="true" />
									</label></li>
								</ul>
								<div ng-if="0 >= recipes.length">There are no recipes in the Coffee Maker.</div>
								<div ng-if="submissionSuccess">Recipe edited successfully</div>
							</div>
						</div>
					</div>
				

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Name</label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.recipe.name" name="name"
									class="name form-control input-sm"
									placeholder="Enter recipe name" required="0" />
								<div class="has-error" ng-show="addRecipeForm.$dirty">
									<span ng-show="editRecipeForm.name.$error.required">This
										is a required field</span><span ng-show="editRecipeForm.name.$invalid">This
										field is invalid </span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Price</label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.recipe.price" name="price"
									class="price form-control input-sm"
									placeholder="Enter recipe price" required="0" />
								<div class="has-error" ng-show="editRecipeForm.$dirty">
									<span ng-show="editRecipeForm.price.$error.required">This
										is a required field</span> <span
										ng-show="editRecipeForm.price.$error.min">Minimum amount
										is 0</span> <span ng-show="editRecipeForm.price.$invalid">This
										field is invalid </span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Coffee</label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.recipe.coffee" name="coffee"
									class="coffee form-control input-sm"
									placeholder="Enter amount of coffee" required="0" />
								<div class="has-error" ng-show="editRecipeForm.$dirty">
									<span ng-show="editRecipeForm.coffee.$error.required">This
										is a required field</span> <span
										ng-show="editRecipeForm.coffee.$error.min">Minimum
										amount is 0</span> <span ng-show="editRecipeForm.coffee.$invalid">This
										field is invalid </span>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Milk</label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.recipe.milk" name="milk"
									class="milk form-control input-sm"
									placeholder="Enter amount of milk" required="0" />
								<div class="has-error" ng-show="editRecipeForm.$dirty">
									<span ng-show="editRecipeForm.milk.$error.required">This
										is a required field</span> <span
										ng-show="editRecipeForm.milk.$error.min">Minimum amount
										is 0</span> <span ng-show="editRecipeForm.milk.$invalid">This
										field is invalid </span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Sugar</label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.recipe.sugar" name="sugar"
									class="sugar form-control input-sm"
									placeholder="Enter amount of sugar" required="0" />
								<div class="has-error" ng-show="editRecipeForm.$dirty">
									<span ng-show="editRecipeForm.sugar.$error.required">This
										is a required field</span> <span
										ng-show="editRecipeForm.sugar.$error.min">Minimum amount
										is 0</span> <span ng-show="editRecipeForm.sugar.$invalid">This
										field is invalid </span>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Chocolate</label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.recipe.chocolate"
									name="chocolate" class="chocolate form-control input-sm"
									placeholder="Enter amount of chocolate" required="0" />
								<div class="has-error" ng-show="editRecipeForm.$dirty">
									<span ng-show="editRecipeForm.chocolate.$error.required">This
										is a required field.</span> <span
										ng-show="editRecipeForm.chocolate.$error.min">Minimum
										amount is 0.</span> <span ng-show="editRecipeForm.chocolate.$invalid">This
										field is invalid. </span>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-actions floatRight">
							<input type="submit" value="Submit"
								class="btn btn-primary btn-sm"
								ng-disabled="editRecipeForm.$invalid" />
							<button type="button" ng-click="ctrl.reset()"
								class="btn btn-warning btn-sm"
								ng-disabled="editRecipeForm.$pristine">Reset Form</button>
						</div>
					</div>
				</form>
			</div>
			<div ng-show="success">Recipe Edited</div>
		</div>

		<a href="/index">Home</a>
	</div>
		
	</div>

<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/service/edit_recipe_service.js"></script>
	<script src="js/controller/edit_recipe_controller.js"></script>

</body>
</html>
